body {
    background-color: black;
    /*color: #fff;*/
}
#content {
    background-color: #222;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}
/*-----Menu CSS-----*/
.clearfix:after {
    display: block;
    clear: both;
}

/*-----Menu Outline-----*/

.menu-wrap {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background:#eee;
}
.menu {
    width: 1500px;
    margin: 0px auto;
}
.menu li {
    margin: 0px;
    list-style: none;
}
.menu a {
    transition: all linear 0.15s;
    color: #919191;
}
.menu li:hover >a, .menu .current-item > a {
    text-decoration: none;
    color: #be5b70;
}
.menu .arrow {
    font-size: 11px;
    line-height: 0%;
}
/*-----Top Level-----*/
.menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px;
}
.menu > ul > li > a {
    padding: 10px 40px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
}
.menu > ul > li:hover, .menu > ul > .current-item > a {
    background: #2e2728;
}
/*-----Bottom Level-----*/
.sub_menu {
    width: 160%;
    padding:5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1px;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2E2728:
}
.menu li:hover .sub_menu {
    z-index: 1;
    opacity: 1;
}
.sub_menu li {
    display: block;
    font-size: 16px;
}
.sub_menu li a {
    padding: 10px 30px;
    display: block;
}
.sub_menu li a:hover, .sub_menu .current-item a {
    background: #3E3436;
}
/*-----End Menu CSS-----*/